body {
	font-family: sans-serif;

}
	fieldset {
		border: 0;
	}
	p {clear: both}
/*rating*/
	.rating {
 		padding: 0;
 		margin: 0;
 		font-size: 0;
 		float: left;
	}
	.rating label {
		float: right;
		margin: 0;
		padding-right: 4px;
		font-size: 30px;
 		cursor: pointer;
		text-shadow:
			0 1px #06c,
			0 -1px #06c,
			1px 0 #06c,
			-1px 0 #06c;
		color: #fff;
		color: yellow\0/;
	}
	.rating > input:checked ~ label,
	.rating > input:checked + label:hover,
	.rating > input:checked + label:hover ~ label,
	.rating > label:hover ~ input:checked ~ label,
	.rating:not(:checked) > input,
	.rating:not(:checked) > label:hover,
	.rating:not(:checked) > label:hover ~ label {
		color: yellow;
		color: #EF8933\0/;
	}
		.rating label:before {
			content: '\2605';
		}

	input[type="radio"] {
		display: none;
	}
/*end rating*/

/*progress-bar*/
	.prog_bar {
	    width: 200px;
	    height: 10px;
	    border: 0;
	    position: relative;
	    overflow: hidden;
	    border-radius: 10px;
	}
		progress {
		    border: none;
		    border-radius: 10px;
		    background: none;
		    width: 100%;
		    height: 100%;
		    background: -o-linear-gradient(#4c4, #8f8 50%, #4c4);
		    display: block;
		    overflow: hidden;
		    z-index: 100;
		    
		}
		progress::-webkit-progress-bar {
			background: #fff;
			height: 100%;
			border-radius: 6px;
			overflow: hidden;
			box-shadow: -1px 1px rgba(206,206,206,.8) inset,
						1px -1px rgba(206,206,206,.3) inset;
		}
		progress::-webkit-progress-value {
			border-radius: 10px;
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b4e391), color-stop(57%,#61c419), color-stop(100%,#b4e391)); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(top, #b4e391 0%,#61c419 57%,#b4e391 100%); /* Chrome10+,Safari5.1+ */
			
		}
		progress::-moz-progress-bar {
			background: #fff;
			height: 100%;
			border-radius: 6px;
			overflow: hidden;
			box-shadow: -1px 1px rgba(206,206,206,.8) inset,
						1px -1px rgba(206,206,206,.3) inset;
			background: -moz-linear-gradient(top, #b4e391 0%, #61c419 57%, #b4e391 100%); /* FF3.6+ */
		}

		.prog_bar span {
			width: 100%;
			position: absolute;
			left: 0;
			top: 0;
			text-align: center;
			color: #000;
			font-size: 9px;
			z-index: 100;

		}
		.noSupportProgress {
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#47d44e', endColorstr='#7ef87e',GradientType=0 ); /* IE6-9 */
			width: 0px;
			border-radius: 8px 8px;
			height: 100%;
			width: 0px;
			background: -webkit-linear-gradient(#4c4, #8f8 50%, #4c4);
			border-radius: 8px 8px;
			position: absolute;
			height: 100%;
			left: 0;
			top: 0;
			overflow: hidden;
		}
/*end progress-bar*/


/*button*/
	#knopka {
		margin-top: 20px;
	}
		.button {
			display: block;
			
			text-align: center;
			box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 1);
			background: #e9e9e9;
		    background-origin: padding-box, border-box;
		    background-clip: padding-box, border-box;
		    border: 1px solid transparent;
		    background-image: -webkit-linear-gradient(#f2f2f2, #d7d7d7 50%), -webkit-linear-gradient(#e9e9e9, #aaa);
		    background-image:    -moz-linear-gradient(#f2f2f2, #d7d7d7 50%),    -moz-linear-gradient(#e9e9e9, #aaa);
		    background-image:     -ms-linear-gradient(#f2f2f2, #d7d7d7 50%),     -ms-linear-gradient(#e9e9e9, #aaa);
		    background-image:      -o-linear-gradient(#f2f2f2, #d7d7d7 50%),      -o-linear-gradient(#e9e9e9, #aaa);
		    background-image:         linear-gradient(#f2f2f2, #d7d7d7 50%),         linear-gradient(#e9e9e9, #aaa);
		}
			.button span {
				
			}
			.button.small {
				line-height: 15px;
				line-height: 10px\0/;
				width: 50px;
				height: 15px;
				border-radius: 6px;
				font-size: 10px;
			}
			.button.normal {
				line-height: 25px;
				line-height: 24px\0/;
				width: 100px;
				height: 25px;
				border-radius: 16px;
				font-size: 16px;
			}
			.button.big {
				line-height: 40px;
				line-height: 40px\0/;
				width: 220px;
				height: 40px;
				border-radius: 20px;
				font-size: 26px;
			}
/*end button*/